@import "Variable.scss";

.signup_wrap {
	width: 100vw;
	overflow: hidden;
}

.process_step {
	width: 100%;
	position: absolute;
	left: 0;
	top: $headerSize;
	display: flex;
	padding: 1.2rem 6vw 1rem;
	text-align: center;
	align-items: center;
	justify-content: space-between;

	@include MOBILE {
		padding: 0.5rem 4vw;
	}
}

.process_unit {
	width: 25%;
	color: $gray3;

	&.active {
		border-color: $main;
		color: $main;

		p {
			font-weight: 700;
		}
	}
}

.process_number {
	font-size: 0.9rem;
	line-height: 1;
	margin-bottom: 0.25rem;
}

.process_text {
	font-size: 0.7rem;
	line-height: 1;
}

.signup_btns {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

.submit_btn {
	margin-top: 2rem;
}

.signup_title {
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	font-family: $gsans;
	font-weight: 300;
	font-size: 1.9rem;
	line-height: 1.3;
	position: relative;

	.info {
		font-size: 1rem;
		font-family: $spoqa;
		font-weight: 400;
		line-height: 1.6;
		margin-top: 1rem;
	}

	.head {
		margin-bottom: 1.5rem;
		font-size: 1.1rem;
		font-weight: 500;
		color: $gray5;
	}

	p {
		font-size: 1.65rem;
		line-height: 1.3;
		font-weight: 300;

		span {
			font-weight: 500;
		}
	}

	@include MOBILE {
		font-size: 1.6rem;
		margin-top: 0rem;
		margin-bottom: 0.5rem;
	}
}

@mixin signupBox {
	width: 70%;
	margin-left: 15%;
	transition: transform 0.25s;
	position: absolute;
	left: 0;
	top: 7rem;
	transform: translate3d(0, 0, 0);

	@include MOBILE {
		width: 88%;
		margin-left: 0%;
		left: 6%;
	}
}

.signup_box {
	@include signupBox;

	&.ready {
		transform: translate3d(100vw, 0, 0);
	}

	&.done {
		transform: translate3d(-100vw, 0, 0);
	}
}

.password_box {
	position: relative;
}

.pass_error {
	color: $red;
	height: 2rem;
}

.show_password {
	font-size: 0.8rem;
	font-family: $spoqa;
	position: absolute;
	font-weight: 500;
	right: 0.75rem;
	color: $main;
	line-height: 3rem;
	height: 3rem;
	cursor: pointer;
	width: 6rem;
	text-align: right;
	white-space: nowrap;
	user-select: none;
}

.email_box {
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		font-size: 1.5rem;
		line-height: 1;
		font-family: $gsans;
		font-weight: 500;
		width: 15%;
		text-align: center;
	}

	&.hidden {
		visibility: hidden;
		display: none;
	}
}

.user_box {
	display: flex;
	justify-content: space-between;
	margin-top: 0.9rem;
}

.birth_input_wrap {
	width: 31%;
	position: relative;

	.unit {
		position: absolute;
		top: 0;
		right: 1rem;
		line-height: 3rem;
		font-size: 1.1rem;
	}
}

.birth_input {
	&.day {
		&:after {
			@include psuedo;
			position: absolute;
			content: "ì¼";
			display: block;
			right: 0;
			top: 0;
			width: 1rem;
			height: 1rem;
			font-size: 1rem;
		}
	}

	&.month {
		line-height: 1.2;
	}
}

.gender_btn {
	text-align: center;
	width: 48.5%;
	border: 1px solid $gray3;
	height: 3rem;
	line-height: 3rem;
	border-radius: 0.3rem;
	cursor: pointer;
	font-size: 1.1rem;

	&.active {
		background: $main;
		color: #fff;
		font-weight: 700;
		border-color: $main;
	}

	&.active_w {
		background: $red;
		color: #fff;
		font-weight: 700;
		border-color: $red;
	}
}

.email_input {
	width: 85%;
}

.pass_input {
	&.check {
		margin-top: 0.75rem;
	}
}

.email_select {
	width: 100%;
	margin-top: 1rem;
}

.signup_btn {
	cursor: pointer;

	&.enable {
		color: $main;
	}
}

@mixin signupBtn {
	font-size: 1.1rem;
	font-weight: 700;
	position: absolute;
	bottom: 1.25rem;
	line-height: 1.5;
}

$margin: 5vw;

.next_btn {
	@include signupBtn;
	cursor: default;
	color: $main;
	right: $margin;
	transition: transform 0.25s;
	transform: translate3d(0, 10rem, 0);
	text-align: right;

	&:after {
		content: ">";
		position: absolute;
		color: $main;
		right: -1.25rem;
		top: 50%;
		transform: translate3d(0, -50%, 0);
	}

	&.active {
		transform: translate3d(0, 0, 0);
		cursor: pointer;
	}

	@include MOBILE {
		right: 13vw;
	}
}

.prev_btn {
	@include signupBtn;
	cursor: pointer;
	color: $gray3;
	left: $margin;

	&.up {
		bottom: 6rem;
	}

	&:after {
		content: "<";
		position: absolute;
		left: -1.25rem;
		top: 0;
	}

	@include MOBILE {
		left: 13vw;
	}
}

.email_full {
	visibility: visible;
	display: block;

	&.hidden {
		visibility: hidden;
		display: none;
	}
}

.signup_btn_wrap {
	position: fixed;
	max-width: 40vw;
	bottom: 0;
	left: 30vw;
	width: 100%;
	padding: 1rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	box-shadow: 0 -10px 20px $shadow;
	transition: transform 0.25s;
	transform: translate3d(0, 5rem, 0);

	&.active {
		transform: translate3d(0, 0, 0);
	}

	@include MOBILE {
		max-width: 100vw;
		left: 0;
	}

	.signup_btn {
		background: $main;
		text-align: center;
		height: 3rem;
		line-height: 3rem;
		color: #fff;
		font-weight: 500;
		border-radius: 0.5rem;
	}
}

.terms_wrap {
	margin-top: 2rem;
	margin-bottom: 0.35rem;
	border-top: 1px solid $gray2;
	border-bottom: 1px solid $gray2;
	padding: 0.15rem 0;
}

.term_btn {
	cursor: pointer;
	padding: 0.45rem 0.75rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	div {
		line-height: 1.95;
	}

	span {
		color: $red;
		opacity: 0.75;
		font-size: 0.85rem;
		padding-left: 0.35rem;
	}

	.option {
		color: $gray4;
	}
}

.show_term {
	font-size: 0.7rem;
	border-radius: 0.5rem;
	border: 1px solid $gray2;
	padding: 0 0.5rem;
	line-height: 1.5rem;
	height: 1.5rem;
	color: $gray4;
}

.marketing {
	display: flex;
	align-items: center;
}

.indicator {
	width: 1.5rem;
	height: 1.5rem;
	background: $gray2;
	border-radius: 0.5rem;
	position: relative;
	cursor: pointer;
	margin-right: 0.75rem;

	&:after {
		@include psuedo;
		width: 0.55rem;
		height: 1.25rem;
		border: 0.2rem solid #fff;
		border-left: none;
		border-top: none;
		transform: rotate(45deg);
		left: 0.65rem;
		bottom: 0.35rem;
	}

	&.active {
		background: $main;
	}
}

.sns_signup_wrap {
	margin: 4vh auto 0;
	padding: 4vh 6vh 3vh;
	border-radius: 0.5rem;
	border: 1px solid $gray2;
	transition: all 0.2s;
	transform: scale(0.9) translate3d(0, 0, 0);

	.sns_info {
		text-align: center;
		color: $gray5;
	}

	&.hidden {
		opacity: 0;
		transform: scale(0.9) translate3d(-2rem, 0, 0);
	}
}
